/* about */
#about {
    margin-top: 30px;
}
#about h3 {
    text-align: center;
    font-weight: bold;
    color: bisque;
    text-shadow: 0px 1px 1px black;
}
#about button {
    width: 150px;
    height: 36px;
    color: white;
    background-color: cadetblue;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 28px;
}
#about img {
    box-shadow: 10px 10px 10px black;
}
#about p {
    margin-left: 30px;
    margin-right: 70px;
    text-align: justify;
}