/* register */
#login {
    width: 65%;
    height: 70vh;
    background-color: cadetblue;
    margin-top: 35px;
    border-radius: 10px;
    box-shadow: rgba(17,12,46, 0.15) 0px 48px 100px 0px;
}
#side1 h3 {
    color: bisque;
    font-weight: bold;
    margin-top: 200px;
}
#side2 {
    background-color: white;
    height: 70vh;
    border-radius: 10px;
}
#side2 h3 {
    margin-top: 30px;
    color: bisque;
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
}
.input2 input {
    margin-top: 15px;
    width: 350px;
    border: none;
    border-bottom: 2px solid bisque;
}
.input2 input ::placeholder {
    font-weight: bold;
}
#btnlogin {
    padding-top: 10px;
}
#btnlogin a {
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    border: none;
    text-shadow: 0px 0px 1px black;
}
#side2 p {
    margin-top: 10px;
}
@media screen and (max-width:991px) {
    .input input {
        width: 250px;
    }
}
@media screen and (max-width:765px) {
    .input input {
        width: 260px;
    }
    #side2 {
        height: 60vh;
    }
}
